name: "Changed-Files Vulnerability: With Harden-Runner"

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  changed_files:
    runs-on: ubuntu-latest
    name: Test changed-files
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Example 1
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

      # Using Secrets
      - name: Use Secret GHASECRET1
        run: echo "Using secret GHASECRET1"
        env:
          GHASECRET1: ${{ secrets.GHASECRET1 }}

      - name: Use Secret GHASECRET2
        run: echo "Using secret GHASECRET2"
        env:
          GHASECRET2: ${{ secrets.GHASECRET2 }}

      - name: Use Secret GHASECRET3
        run: echo "Using secret GHASECRET3"
        env:
          GHASECRET3: ${{ secrets.GHASECRET3 }}

      - name: Use Secret GHASECRET4
        run: echo "Using secret GHASECRET4"
        env:
          GHASECRET4: ${{ secrets.GHASECRET4 }}

      - name: Use Secret DATABASEPASSWORD
        run: echo "Using secret GHASECRET4"
        env:
          GHASECRET4: ${{ secrets.DATABASEPASSWORD }}
